<?xml version="1.0"?>
<!--
/**
 * Copyright © fr3on. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Fr3on_Lapis::lapis"
                          title="LAPIS — Lifecycle Declarations"
                          sortOrder="999"/>
            </resource>
        </resources>
    </acl>
</config>
