<?xml version="1.0"?>
<!--
/**
 * Copyright © fr3on. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="lapis" frontName="lapis">
            <module name="Fr3on_Lapis" before="Magento_Backend"/>
        </route>
    </router>
</config>
